<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="2px">
            <tr>
                <th>deptno</th>
                <th>empno</th>
                <th>ename</th>
                <th>job</th>
                <th>mgr</th>
                <th>hiredate</th>
                <th>sal</th>
                <th>comm</th>
            </tr>
        {% for eo in Employee %}
            <tr>
                <td>{{eo.deptno}}</td>
                <td>{{eo.empno}}</td>
                <td>{{eo.ename}}</td>
                <td>{{eo.job}}</td>
                <td>{{eo.mgr}}</td>
                <td>{{eo.hiredate}}</td>
                <td>{{eo.sal}}</td>
                <td>{{eo.comm}}</td>

            </tr>
        {% endfor %}    
        </table>
    </center>
</body>
</html>